/* Encabezado */
.header {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.icon {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

/* Calendario */
.calendar-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f3f3f3;
}

.month-title {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    color: #333;
    width: 90%;
    max-width: 800px;
}

.calendar {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar th,
.calendar td {
    padding: 10px;
    border: 1px solid #e0e0e0;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    background-color: #fff;
}

.calendar th {
    background-color: #cfd8dc;
    color: #333;
}

/* Footer */
.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo img {
    height: 50px;
    margin: 0 10px;
}

.footer-qr img {
    height: 100px;
}

.footer-social {
    font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .calendar th, .calendar td {
        font-size: 12px;
        padding: 5px;
    }
    .month-title {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .calendar th, .calendar td {
        font-size: 10px;
        padding: 3px;
    }
    .month-title {
        font-size: 16px;
    }
}
