.calendar-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #f3f3f3;
    padding: 20px;
}

.month-title {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    width: 90%;
    max-width: 800px;
    padding-left: 5px;
}

.calendar {
    width: 90%;
    max-width: 800px;
    border-collapse: collapse;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.calendar th,
.calendar td {
    width: 14.28%; /* 7 columnas en total */
    padding: 10px;
    border: 1px solid #e0e0e0;
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    height: 100px;
    position: relative;
    background-color: #fff;
}

.calendar th {
    background-color: #e03e52;
    color: white;
    padding: 0;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    border-top: none;
    border-bottom: 2px solid #e03e52;
}

.calendar td {
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.calendar td:hover {
    background-color: #f9f9f9;
}

.event {
    font-size: 12px;
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
    border-radius: 4px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event:hover {
    background-color: #e03e52;
    color: #fff;
}

.day-number {
    font-weight: bold;
    position: absolute;
    font-size: 12px;
    color: #e03e52;
}

/* Responsive styles */
@media (max-width: 768px) {
    .calendar {
        display: block; /* Cambia a bloque en pantallas pequeñas */
    }

    .calendar th, .calendar td {
        width: 100%; /* Cada celda ocupa el 100% */
        font-size: 12px;
        padding: 5px;
        box-sizing: border-box; /* Para asegurar el padding no sume al tamaño */
    }

    .month-title {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .calendar th, .calendar td {
        font-size: 10px;
        padding: 3px;
    }

    .month-title {
        font-size: 18px;
    }
}
